APP_PORT=8060
JAVA_OPTS=-Xms512m -Xmx1024m

MYSQL_PORT=3306
MYSQL_DATABASE=iidp_demo
MYSQL_ROOT_PASSWORD=root123456
MYSQL_USER=iidp
MYSQL_PASSWORD=iidp123456

REDIS_PORT=6379
REDIS_PASSWORD=redis

MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ROOT_USER=snest
MINIO_ROOT_PASSWORD=12345678
MINIO_BUCKET=apps
